<div style='background-color: white;'>
  <h1>Pokemon Site</h1>
  <p>On here i created a pokedex like site, that uses a pokemon API to show Pokemon and Items.</p>
  <p style='font-size: 10px;'>Please ignore any mega-evolutions...</p>
  <p>Select the page you would like to go to below:</p>
  <div style='display: inline;'>
    <form method="POST" action="/pokemon-page">
      <button style='width: 100px;'>Pokemon</button>
    </form>

    <form method="POST" action="/item-page">
      <button style='width: 100px;'>Item</button>
    </form>
  </div>
</div>