<h1>Who's that Pokemon?</h1>

<main class="container">
    <div class="mainText">
        <p>It's a {{name}}!</p>

        <p>At {{weight}}kg</p>

        <p>And {{height}}m tall</p>
    </div>

    <div class="pokemonBox">
        <img class="pokemonImg" src="{{img}}"></img>
    </div>
</main>