body {

  font: 14px Helvetica, sans-serif;
  font-weight: bold;
}

.container {
  display: flex;
  height: 700px;
  width: 700px;
  }
.mainText {
  
   width: 30%;
   height: 50%;
}
.pokemonBox {
  
  width: 50%;
  height: 50%;


}
.pokemonImg {
  display: flex;
  height: auto;
  width: 60%;
  
  margin: auto;
}


.pokeName {
  text-transform: capitalize;
  

}
