body {
  font: 14px Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}
.title {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
}
.titleText {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
}
.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mainText {
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  margin: 30px;
}
.pokemonInfo {
  font-size: 12px;
  order: 2;
  width: 50%;
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.pokemonImg {
  width: 90%;
}
.evos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.evoColumns {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}
.evoColumnOne {
  order: 1;
}
.evoColumnTwo {
  order: 2;
}
.evoColumnThree {
  order: 3;
}
.evoColumnFour {
  order: 4;
}
.evoColumnFive {
  order: 5;
}
.evoForm {
  display: flex;
}
.evoStep {
  display: flex;
  align-items: center;
  height: 115px;
  justify-content: center;
  flex-direction: column;
}
.step {
  display: flex;
  flex-direction: row;
}
.capital {
  text-transform: capitalize;
}
.tiny-text {
  font-size: 11px;
}
.tooltip {
  position: relative;
}
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.normal {
  color: #a8a878;
}
.electric {
  color: #f7d02c;
}
.poison {
  color: #a33ea1;
}
.psychic {
  color: #f95587;
}
.grass {
  color: #7ac74c;
}
.ground {
  color: #e2bf65;
}
.fire {
  color: #ee8130;
}
.ice {
  color: #96d9d6;
}
.rock {
  color: #b6a136;
}
.dragon {
  color: #6f35fc;
}
.water {
  color: #6390f0;
}
.bug {
  color: #a6b91a;
}
.dark {
  color: #705746;
}
.fighting {
  color: #c22e28;
}
.ghost {
  color: #735797;
}
.steel {
  color: #b7b7ce;
}
.flying {
  color: #a98ff3;
}
.fairy {
  color: #d685ad;
}

.normal-background {
  background-color: #a8a878;
}
.electric-background {
  background-color: #f7d02c;
}
.poison-background {
  background-color: #a33ea1;
}
.psychic-background {
  background-color: #f95587;
}
.grass-background {
  background-color: #7ac74c;
}
.ground-background {
  background-color: #e2bf65;
}
.fire-background {
  background-color: #ee8130;
}
.ice-background {
  background-color: #96d9d6;
}
.rock-background {
  background-color: #b6a136;
}
.dragon-background {
  background-color: #6f35fc;
}
.water-background {
  background-color: #6390f0;
}
.bug-background {
  background-color: #a6b91a;
}
.dark-background {
  background-color: #705746;
}
.fighting-background {
  background-color: #c22e28;
}
.ghost-background {
  background-color: #735797;
}
.steel-background {
  background-color: #b7b7ce;
}
.flying-background {
  background-color: #a98ff3;
}
.fairy-background {
  background-color: #d685ad;
}
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the search box inside the navigation bar */
.topnav input[type='text'] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.koreanInfo {
  display: none;
}

.englishInfo {
  display: block;
}

.pokemonInput {
  align-self: center;
}

.buttonPadding {
  padding: 20px;
}
.margin {
  padding: 20px;
}

.outerBox {
  display: flex;
  width: 600px;
  height: 500px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}
.innerBox {
  align-content: center;
  justify-content: center;
  background-color: rgb(78, 78, 78);
  color: white;
  padding: 20px;
  width: 500px;
  height: 400px;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: 0 auto;
  }
  #pokemonList {
    padding: 3px 6px;
  }
  .firstRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .mainText {
    font-size: 20px;
    font-weight: bold;
    width: 50%;
  }
  .pokemonInfo {
    font-size: 12px;
    order: 2;
    width: 50%;
  }
  .pokemonImg {
    width: 183px;
  }
  .evos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .evoColumns {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
  }
  .evoColumnOne {
    order: 1;
  }
  .evoColumnTwo {
    order: 2;
  }
  .evoColumnThree {
    order: 3;
  }
  .evoColumnFour {
    order: 4;
  }
  .evoColumnFive {
    order: 5;
  }
  .evoForm {
    display: flex;
  }
  .evoStep {
    display: flex;
    align-items: center;
    height: 115px;
    justify-content: center;
    flex-direction: column;
  }
  .step {
    display: flex;
    flex-direction: row;
  }
  .capital {
    text-transform: capitalize;
  }
  .tiny-text {
    font-size: 11px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
